<div class="container-fluid">
  <div class="row qz-bg-green-light">
    <div class="col"></div>
    <div class="col-10">
      <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="navbar-brand "><h2 class="text-white">ThutoQuize</h2></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav Dropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse navbar-default float-right" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto topnav text-white">
            <li class="nav-item px-2"><a class="nav-link" routerLink="/challenge/join-challenge">Play</a></li>
            <!-- I am using '/login' quizzes, because, if user already logged in then it will redirect to dashboard based on role -->
            <li class="nav-item px-2"><a class="nav-link" routerLink="/login">Quizzes</a></li>
            <!-- <li><a href="#about">Leaderboard</a></li> -->
            <li class="nav-item px-2"><a class="nav-link " href="#">Know more</a></li>
            <li class="nav-item px-2"><a class="nav-link" href="#">Help</a></li>
            <li class="nav-item px-2"><button class="btn qz-btn qz-bg-blue text-white" routerLink="/login">Log in</button></li>
            <li class="nav-item px-2"><button class="btn qz-btn qz-bg-white" routerLink="/register">Sign up</button></li>
            <!-- <li><a routerLink="teacherprofile">Profile</a></li> -->
          </ul>
        </div>    
      </nav>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <div class="my-5 py-5 px-4">
        <h1 class="mt-5 qz-text-green font-weight-bold qz-text-wrap ">A new and fun way to share</h1>
          <h1 class=" qz-text-green font-weight-bold"> create quiz!</h1>
        <p>You can also track results of participants.</p>
        <div class="mb-5">
          <a href="#" class="btn qz-btn qz-bg-green-dark text-white" routerLink="/register">Get Started</a>
        </div>
      </div>
    </div>
    <!-- <div class="col"></div > -->
    <div class="d-none d-sm-none d-md-none d-lg-block col-md-6 col-xl-4 my-4 py-4" >
      <div class="hero-img" style="align-items: center;">
        <img src="../../../assets/img/home.png" class="img-fluid" alt="" style="width: 90%;">
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  <div class="row qz-bg-green-dark">
    <div class="col"></div>
    <div class="col-10">
      <h1 class="text-center my-5 qz-text-white-light font-weight-bold">How does ThutoQuizs work?</h1>
      <div class="row ">
        <div class="col-md-12 col-lg-4 my-5">
          <div>
            <img src="../../../assets/img/create.png" class="illustrations" alt="">
            <h2 class="py-3 qz-text-white-light text-center font-weight-bold">Create</h2>
            <p class="mx-4 px-4 py-0 text-center qz-text-white-light">It only takes minutes to create a learning game or trivia quiz on any topic.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 my-2">
          <div>
            <img src="../../../assets/img/share.png" class="illustrations" alt="">
            <h2 class="py-3 qz-text-white-light text-center font-weight-bold">Host and share</h2>
            <p class="mx-4 px-4 py-0 text-center qz-text-white-light">Host a challenge with questions from Quiz and share a game with remote players.</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 my-5">
          <div>
            <img src="../../../assets/img/play.png" class="illustrations" alt="">
            <h2 class="py-3 qz-text-white-light text-center font-weight-bold">Play</h2>
            <p class="mx-4 px-4 py-0 text-center qz-text-white-light">Game is on! Join a challenge with a PIN provided by the host and answer questions on your device.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
